@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-background: #000;
  --color-text-primary: #EBEBEB;
  --color-text-secondary: #8E8E8E;
  --color-button: #C5C5C5;

  --color-primary: #7333D2;
  --color-secondary: #F853AE;

  --radius-sm: 10px;
  --radius-md: 12px;
  --radius-lg: 15px;
}

html,
body{
  @apply bg-background text-white
}

h1 {
  @apply max-sm:text-[55px] text-[64px] font-extrabold;
}

h2 {
  @apply max-sm:text-[25px] text-[35px] font-bold;
}

h3 {
  @apply max-sm:text-[14px] text-[16px] font-bold;
}

p {
  @apply max-sm:text-[16px] text-[18px];
}

@keyframes shimmer {
  0% {
    transform: translateX(-150%) skewX(-25deg);
  }
  100% {
    transform: translateX(150%) skewX(-25deg);
  }
}

.animate-shimmer {
  animation: shimmer 4s infinite ease-in-out;
}

